.cell {
    float: left;
    display: block;
    width: 24px;
    height: 24px;
    border: 1px #00e4ff solid;

}

.alpha-cell {
    text-align: center;
    vertical-align: middle;
    clear: both;
    border-right: 2px solid #a3020a;
    border-left: none ;
}

.number-cell {
    text-align: center;
    vertical-align: middle;
    border-bottom: 2px solid #a3020a;
    border-top: none ;
}

.top-left-corn {
    border-bottom: 2px solid #a3020a;
    border-right: 2px solid #a3020a;
    border-top: none ;
    border-left: none ;
}

.own-ship {
    background-color: #4dca00;
    border: none;
    padding: 1px;
}

.field {
    display:block;
    float:left;

    margin:10px;
}

.miss-shoot {
    background-color: blue;
}

.interactive {
    cursor: pointer;
}
#game-zone {
    width: 100%;
    min-height: 600px;
}